.navbar {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: max(18vw, 150px);
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 2vw;
  color: #49557e;
  font-size: 18px;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.navbar-right img {
  width: max(2.5vw, 20px);
}

.signin-button {
  background-color: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 1vw 3vw;
  cursor: pointer;
  border-radius: 5vw;
  transition: 0.5s;
}

.signin-button:hover {
  background-color: tomato;
}
.navbar-menu .active {
  border: none;
  border-bottom: 1px solid gray;
}
.navbar li {
  cursor: pointer;
}

.basket-icon {
  position: relative;
}

.basket-icon .dot {
  position: absolute;
  min-width: 1vw;
  min-height: 1vw;
  background-color: tomato;
  border-radius: 5vw;
  top: -0.8vw;
  right: -0.8vw;
}

@media (max-width: 1200px) {
  .navbar-menu {
    font-size: 18px;
  }
  .signin-button {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .navbar-menu {
    font-size: 15px;
  }
  .signin-button {
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  .navbar-menu {
    display: none;
  }
  .signin-button {
    font-size: 10px;
  }
}
